name: CI-CD
on: 
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Comando LS
        run: ls -l
      - name: Docker build chatservice
        run: echo "Docker build chatservice"
      - name: Docker build webapp
        run: echo "Docker build webapp"
    
